<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="TaxiBD" connectionString="data source=DESKTOP-OA8P8KA;initial catalog=Taxi;integrated security=True"
   providerName="System.Data.SqlClient" />
  <add name="TAXI.Properties.Settings.TaxiConnectionString" connectionString="Data Source=DESKTOP-OA8P8KA;Initial Catalog=Taxi;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>
